.checkboxding{
	margin-top:10px;
	border-right: 2px solid #D8BFD8;
	border-top: 2px solid #D8BFD8;
}
.navbarding{
	border-bottom: 2px solid #D8BFD8;
}
.h1ding{
	font: 30px bold Tahoma;
	margin: 0px;
	margin-bottom: 5px;
}
.mainsectionding{
	margin-top:10px;
	border-top: 2px solid #D8BFD8;
}
.footerding{
	clear:both;
	border-top: 1px solid #D8BFD8;
	margin: 10px;
	text-align: center;
	padding:20px;
}
.checkboxcolording{
	margin:0px;
	color: #DAA520;
	font: 10px;
}
.checkboxstyleding{
	margin:0px;
	padding:0px;
	margin-left:10px;
}
.checkboxfontding{
	font:100px;
}
.imginfoding{
	font:6px;
	margin: 0px;
	padding:0px;
	overflow: hidden;
}
.imginfo{
	font:6px;
	padding-top:10px;
	max-width:200px;
}
.imgbotding{
	clear:both;
	margin-bottom:0px;
}
.imgcontainer{
	width: relative;
	min-height: 200px;
	max-height: 200px;
	overflow: hidden;
	max-width:200px;
}
.img{
	width:fixed;
	height: 100px;
	padding: 0px auto auto auto;
	position: relative;
}
.picboxding{
	margin-bottom: 20px;
	width: 300px;
	max-height: 440px;
	overflow: hidden;
}
.picboxding2{
	border:1px solid #ddd;
}
.picding{
	max-height:300px;
	max-width: 300px;
	overflow: hidden;
}

.thumbnailding {
display: block;
padding: 4px;
margin-bottom: 0px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

.topicding{
margin-left:110px;
padding-left:0px;
padding-bottom:10px;
border-bottom:1px solid #EEAD0E;
margin-bottom:20px;
margin-top:15px;
}