<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>The Most Poplular Local Trading Site!</title>

<link href="bootstrap.min.css" rel="stylesheet">
<link href="resultpage.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
<script src="bootstrap.min.js"></script>
<style>
body{padding: 50px;}
</style>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class=container>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PUBT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">MA</a></li>
        <li><a href="#">CS</a></li>
        <li><a href="#">ENG</a></li>
        <li><a href="#">PHY</a></li>
        <li><a href="#">MGMT</a></li>
        <li><a href="#">STAT</a></li>
        <li><a href="#">Others</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="#">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="In format:CS 180">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
      
      <ul class="nav navbar-nav navbar-right pull-right">	
		
		<li class="dropdown" id="menuLogin">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navSignup">Join us<b class="caret"></b></a>
            <div class="dropdown-menu" style="padding:17px;">
              <form class="form" id="formSignup" action="#" method="post"> 
                <input name="username" id="username" type="text" placeholder="Username">
                <input name="password" id="password" type="password" placeholder="Password"><br>
                <input name="password" id="passwordconfirm" type="passwordconfirm" placeholder="Confirm Password"><br>
                <button type="submit" id="btnLogin" class="btn">Sign up</button>
              </form>
            </div>
          </li>
		
        
        <li class="dropdown" id="menuLogin">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Sign in<b class="caret"></b></a>
            <div class="dropdown-menu" style="padding:17px;">
              <form class="form" id="formLogin" action="#" method="post"> 
                <input name="username" id="username" type="text" placeholder="Username">
                <input name="password" id="password" type="password" placeholder="Password"><br>
                <button type="submit" id="btnLogin" class="btn">Login</button>
              </form>
            </div>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
 </div><!-- /.container -->
</nav>
 
 <div class=container>
 <div class="row">
  <div class="col-md-2">
	<aside class=checkboxding>
		<p class=checkboxcolording>Conditions:</p>
			<div class="checkbox">
				<div class=checkboxstyleding>
				<label>
					<input type="checkbox" value="">
						New with tag
				</label>
				</div>
				<div class=checkboxstyleding>
				<label>
					<input type="checkbox" value="">
						Like new
				</label>
				</div>
				<div class=checkboxstyleding>
				<label>
					<input type="checkbox" value="">
						Good condition
				</label>
				</div>
				<div class=checkboxstyleding>
				<label>
					<input type="checkbox" value="">
						Fair condition
				</label>
				</div>
			</div>
			
			<p class=checkboxcolording>Price:</p>
			<div class="checkbox">
				<div class=checkboxstyleding>
				<label>
					<input type="checkbox" value="">
						Under $10
				</label>
				</div>
				<div class=checkboxstyleding>
				<label>
					<input type="checkbox" value="">
						$10 to $20
				</label>
				</div>
				<div class=checkboxstyleding>
				<label>
					<input type="checkbox" value="">
						$20 to $50
				</label>
				</div>
				<div class=checkboxstyleding>
				<label>
					<input type="checkbox" value="">
						$50 to $100
				</label>
				</div>
				<div class=checkboxstyleding>
				<label>
					<input type="checkbox" value="">
						Above $100
				</label>
				</div>
				
				<div  class="" >
					<div class="pricebox">
		    			<form name="price">
						<input name="_mPrRngCbx" type="hidden" value="1" />
			
				$<input class='price' pattern='\d*' type='text' size='6' maxlength='13' name='_udlo' id='e1-2' value="" /> 
				<br>to<br> 
				$<input class='price' pattern='\d*' type='text' size='6' maxlength='13' name='_udhi' id='e1-3' value=""  />  
				<span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      			</span>
						</form>
					</div>
				</div>

			</div>
	</aside>
  </div>
  
  <div class="col-md-10">
  <div class=mainsectionding>
  <h1 class=h1ding>Search Result: </h1>
	<section>
		<div class="row">
		<div class="col-xs-6 col-md-3" class=picboxding>
			<div class=picboxding>
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="sampleimg.jpg" src="sampleimg.jpg">
			</a>
			<div class="caption" class=imginfoding>
				<h3 class=imginfoding>tasiod</h3>
				<p class=imginfoding>info1</p>
				<p class=imginfoding>info2</p>
				<p>info3</p>
			</div>
		</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="sampleimg.jpg" src="sampleimg.jpg">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="sampleimg.jpg" src="sampleimg.jpg">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="sampleimg.jpg" src="sampleimg.jpg">
			</a>
		</div>
		</div>
		<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="sampleimg.jpg" src="sampleimg.jpg">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="bookinfopage.html" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="sampleimg.jpg" src="sampleimg.jpg">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="sampleimg.jpg" src="sampleimg.jpg">
			</a>
		</div>
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="sampleimg.jpg" src="sampleimg.jpg">
			</a>
		</div>
		</div>
		<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
				<img data-src="" alt="sampleimg.jpg" src="sampleimg.jpg">
			</a>
		</div>
		
		</div>
	</section>
	</div>
	<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-6">
	<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</div>
</div>
  </div>
</div>
</div>

<div class="row">
	<footer class=footerding>
		Copyright: Dingzhe Li-Zorak!
	</footer>
</div>


</body>
</html>